.payment_address
{
   margin-left:350px;
   margin-top:-55px;
   max-width: fit-content;
}
.card_details
{
   margin-left: 25%;
   margin-right:55%;
}
.payment_method
{
   height:150px;
}
.checkout_items
{
   max-width: 100%;
   background-color: rgb(181, 178, 178);
   height:50px;
   text-align: center;
   margin-top: -22px;
   
}
.payment_price
{
   font-size:21px;
}
.payment_button
{
   background-color:orange;
   height:30px;
   width:80px;
}